$svg-button-shadow: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
$svg-button-active-shadow: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.3));
$svg-button-active-glow: drop-shadow(0px 0px 6px currentColor);

.root--outlined {
  border: solid currentColor 1px;
  border-radius: 12px;
}

.inner--rotate-90 {
  transform: rotate(90deg);
}

.inner--rotate-180 {
  transform: rotate(180deg);
}

.inner--rotate-270 {
  transform: rotate(270deg);
}

.inner--sideways {
  height: 100vi;
}

.inner--outlined {
  padding: 24px;
}

.button {
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  outline-width: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: transform ease 0.2s;
  touch-action: manipulation;

  &:active,
  &.active  {
    transform: translateY(5px);

    .svg-button {
      filter: $svg-button-active-shadow $svg-button-active-glow;
    }
  }

  &:focus-visible {
    outline: 0.5px solid currentColor;
    outline-offset: -15px;
    border-radius: 32px;
  }

  &--small {
    width: 30vw;
    height: 30vw;
  }
}

.svg {
  transform: rotateX(25deg);
  cursor: pointer;


}

.svg-inner {
  transform-origin: center;
  transform: scale(0.8);
}

.svg-button {
  filter: $svg-button-shadow;
  transition: filter ease 0.2s;
}

.svg-shine {
  transform: rotate(-36deg) translateY(-34%);
  transform-origin: center;
}
