.button {
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  outline-width: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: transform ease 0.2s;
  touch-action: none;

  &:active  {
    transform: translateY(5px);

    .svg-button {
      filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.3));
    }
  }
}

.svg {
  transform: rotateX(25deg);
  cursor: pointer;


}

.svg-inner {
  transform-origin: center;
  transform: scale(0.8);
}

.svg-button {
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
  transition: filter ease 0.2s;
}

.svg-shine {
  transform: rotate(-36deg) translateY(-34%);
  transform-origin: center;
}